body {
    background-color: #18181b;
    width: 500px;
    font-family: 'Quicksand', sans-serif;
}

.navbar-custom {
    background-color: #2f2f37;
    height: 50px;
    border-bottom: 1px solid #000000;
}

.body-container {
    margin-top: 51px;
}

.card {
    background-color: #2f2f37 !important;
    width: 130px;
    height: 138px;
    margin: 1.5px;
}

.card :hover {
    background-color: #6e17f0 !important;
    opacity: 0.92;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-left: 100px;
}

.card-texto {
    text-align: center;
}

.card-nome {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}

.menu-nome {
    color: #ffffff;
    font-size: 12px;
}

.viewers {
    color: #e01915;
    font-weight: normal;
    text-shadow: 0.5px 0.5px #000000;
}

body.streams {
    width: 400px;
    overflow: hidden;
    height: 100%;
}