body {
    background-color: #18181b;
    width: 500px;
    font-family: 'Quicksand', sans-serif;
}

.navbar-custom {
    background-color: #2f2f37;
    height: 30px;
    border-bottom: 1px solid #000000;
}

.body-container {
    margin-top: 31px;
}

.card {
    background-color: #2f2f37 !important;
    width: 130px;
    height: 138px;
    margin: 1.5px;
}

.card :hover {
    background-color: #454545 !important;
    opacity: 0.92;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-left: 100px;
}

.card-texto {
    text-align: center;
}

.card-nome {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}

.menu-nome {
    color: #ffffff;
    font-size: 12px;
}

.viewers {
    background-color: #772ce8;
    font-weight: normal;
    text-shadow: 0px 0px 3px #000000;
    font-size: 10px;
}

body.streams {
    width: 400px;
    overflow: hidden;
    height: 100%;
}

.stream-name {
    font-family: 'Suez One', serif;
    color: #772ce8;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: -1px 0 #a978f3, 0 1px #a978f3, 1px 0 #a978f3, 0 -1px #a978f3;
}

.nav-icon {
    color: #772ce8;
    margin-top: -11px;
    font-size: 23px;
}

.nav-title-text {
    color: #772ce8;
    margin-top: -11px;
    font-size: 23px;
}